<a href="https://colab.research.google.com/github/jinwon1234/aipython/blob/main/240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
total = 0
scores = []
while True:
  score = input('학생의 점수를 입력하세요.')
  if score.isdigit():
    scores.append(int(score))
  else:
    break

print('입력 데이터 출력 :', scores)
print('합계 :', sum(scores))
print('인원수 :', len(scores))
print('평균 :', sum(scores) / len(scores))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
입력 데이터 출력 : [90, 70, 30]
합계 : 190
인원수 : 3
평균 : 63.333333333333336

In [7]:
txt = "apple#banana#cherry#orange"
x = txt.split('#')
print(x)

['apple', 'banana', 'cherry', 'orange']

In [9]:
input = {'Python', 'Java', 'Ruby'}
output = '->'.join(input)
print(output)

Python->Java->Ruby

In [10]:
number_list = [x ** 2 for x in range(10) if x % 2 == 0]
print(number_list)

[0, 4, 16, 36, 64]

In [11]:
citys = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
new_list = [city for city in citys if city.startswith('S')]
print(new_list)

['Seoul', 'Shanghai']

In [12]:
nums = [1,2,3,4,5,6,7,8,9,10]
odd_nums = list(filter(lambda x: x % 2 !=0, nums))
print(odd_nums)

[1, 3, 5, 7, 9]

In [14]:
nums = [1,2,3,4,5,6,7,8,9,10]
new_nums = list(filter(lambda x: x % 2 ==0, nums))
print(new_nums)

[2, 4, 6, 8, 10]

In [21]:
input = ['Python', 'Java', 'Javascript']
output = [(idx, lang) for idx, lang in enumerate(input)]
print(output)

[(0, 'Python'), (1, 'Java'), (2, 'Javascript')]

In [23]:
input = ['Python', 'Java', 'Javascript']
output = [(idx, lang) for idx, lang in enumerate(input, start = 1)]
print(output)

[(1, 'Python'), (2, 'Java'), (3, 'Javascript')]

In [31]:
scores = [88, 92, 78, 60, 75, 95]
def convert_to_grade(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  elif score >= 60:
    return 'D'
  else:
    return 'F'
output = list(map(convert_to_grade, scores))
print(output)

['B', 'A', 'C', 'D', 'C', 'A']

In [33]:
ages = [5, 12, 17, 18, 24, 32]
output = list(filter(lambda x: x >= 18, ages))
print(output)

[18, 24, 32]