<a href="https://colab.research.google.com/github/jinwon1234/aipython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
if a > 5:
  print("A는 5보다 크다")
print("프로그램종료")

A는 5보다 크다
프로그램종료

In [2]:
a = 10
if a > 5:
  print("a는 5보다 크다")
elif a <= 5:
  print("a는 5이하입니다")

a는 5보다 크다

In [4]:
a = 5
if a > 5:
  print("a는 5보다 크다")
elif a < 5:
  print("a는 5보다 작다")
else:
  print("a는 5이다")

a는 5이다

#a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

In [3]:
a = int(input())
if a % 2 == 0:
  print("a는 짝수입니다.")
else:
  print("a는 홀수입니다.")

3
a는 홀수입니다.

In [5]:
a=10
b=5
if a > 5:
  if b < 10:
    print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

In [6]:
a=10
b=5
if a>5 and b <10:
  print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

In [9]:
score = int(input())

if score >= 90:
  print("A")
elif score >=80:
  print("B")
elif score >=70:
  print("C")
elif score >=60:
  print("D")
else:
  print("F")

75
C

In [11]:
a = [1,2,3,4,5]
for i in a:
  print(i, end='')

12345

In [13]:
a = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in a:
  print(i)
  total += i
print(total)

1
2
3
4
5
6
7
8
9
10
55

In [14]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [16]:
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [17]:
for i in range(1,101):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [18]:
for i in range(5):
  if i % 2:
    break
  print(i)

0

In [20]:
짝수합 = 0
홀수합 = 0
for i in range(2,11,2):
  짝수합 += i
for i in range(1, 11, 2):
  홀수합 += i
print(짝수합)
print(홀수합)

30
25

In [21]:
n = int(input())
total = 0
for i in range(1, n+1):
  total += i
print(total)

6
21