<a href="https://colab.research.google.com/github/jinwon1234/aipython/blob/main/240412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])

apple

In [2]:
numbers = [10,20,30,40,50]
print(numbers[-1])

50

In [4]:
fruits = ["apple","banana", "cherry"]
fruits[1] = "grape"
print(fruits)

['apple', 'grape', 'cherry']

In [5]:
fruits = ["apple","banana", "cherry"]
fruits.append('strawberry')
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

In [6]:
numbers = [10,20,30,40,50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

In [10]:
numbers = [5,10,15,20,25]
print(len(numbers))

5

In [11]:
numbers = [10,5,8,3,15]
print(min(numbers), max(numbers))

3 15

In [12]:
numbers = [10,20,30,40,50]
print(sum(numbers))

150

In [8]:
numbers = [1,2,3,4,5]
for i in range(len(numbers)):
  numbers[i] = numbers[i] ** 2
print(numbers)

[1, 4, 9, 16, 25]

In [9]:
fruits = ["apple","banana","apple","cherry","apple"]
fruits.count('apple')

3

In [18]:
def square(x):
  result =  x**2
  return result

In [14]:
ret = square(6)
print(ret)

36

In [20]:
def square(numbers):
  newlst = []
  for num in numbers:
    newlst.append(num**2)
  return newlst

In [21]:
new = square([1,2,3,4,5])
print(new)

[1, 4, 9, 16, 25]

In [26]:
def BMI(h,w):
  return w / (h*0.01) ** 2

In [27]:
결과 = BMI(190,90)
print(결과)

24.93074792243767